<dialog class="project-dialog">
  <form method="dialog" id="project-form" action="">
    <div class="project-title">
      <label for="project-title">Project Title:* </label>
      <input type="text" name="project-title" id="project-title" required />
    </div>
    <div class="project-description">
      <label for="project-description">Project Description: </label>
      <textarea name="project-description" id="project-description"></textarea>
    </div>
    <button type="submit">Create Project</button>
  </form>
</dialog>
